@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #000000;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.home_canvas {
  height: 100vh !important
}

a {
  text-decoration: none;
  font-size: 7px;
  color: rgb(235, 179, 48);
  font-family: 'Roboto Mono', monospace;
}

.external-link {
  line-height: 2px;
  margin: 10px 0
}

.external-link :hover {
  color: red;
  font-style: italic;
}

nav {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(57, 51, 51, 0.5);
}

nav > a {
  margin: 0 20px;
  font-size: 18px;
  padding: 2px 3px 5px
}

@media(max-width: 420px) {
  nav a {
    margin: 0 7px;
    font-size: 15px
  }
}